* {
  box-sizing: border-box;
}

a{
  color: lightblue
}
body,
html {
  height: 100%;
  text-align:center;
  background-color: #060c21 !important;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;

}

h1 {
  text-align:Center;
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin:0;
justify-self: center;
padding: 70px 0;
text-align: center;
color:white;
}


.hero-section {
  position: fixed;
  top: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.308),
      rgba(117, 19, 93, 0.73)
    ),
    url('./assets/IMG_0087-darken.jpg');
  height:300px;




  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h2 {
  padding: auto;
  color: white;
}

p {
  padding: 0px 0.4em 0px;
  color:white;
}

.container {
  padding: 1em 0.4em;
  text-align: center;
  flex-basis: 50%;
  height: auto;
  background-color: #060c21;
width: 100%;
}


section.about-project {
  padding: 1em 0.4em;
  flex-basis: 50%;
  height: auto;
  text-align: center;
  width: 500px;
}


.creators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 30vh;
}


@media (max-width: 500px) {
 

  article.creators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    height: 30vh;
  }

  section.about-project {
    height: auto;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 0 7em 0;
  }
}
