* {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    margin: 0px;
  }
  /* nav {
      height: 50px;
  }
  
  ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
   */

  body {
    margin: 0;
    padding: 0;
    background: #333;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    min-width: 300px;
  }
  
  nav li {
    display: inline;
    padding: 5px;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav ul {
      display: flex; 
      justify-content: flex-end;
        position: absolute;
      top: 0;
      right: 0;
      margin-right: 20px;
  }
  
  
  nav {
    width: 100%;
    background-size: cover;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: lightblue;
    display: inline;
    text-align:center;
  }
  
  #home {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 50% 50%;
    background-color: red;
    height: 800px;
  }

  
  .grid-tech {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
    

 
  
    .container-home {
      min-height: 800px;
  
    }
  